.k-fx-tileleft.k-fx-end .k-fx-next #details,
.k-fx-tileleft.k-fx-end .k-fx-current #details,
.k-fx-tileright.k-fx-end .k-fx-next #details,
.k-fx-tileright.k-fx-end .k-fx-current #details {
    -webkit-transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
}

.k-fx-tileleft.k-fx-start .k-fx-next #details {
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    transform: translatex(100%);
}

.k-fx-tileleft.k-fx-end .k-fx-current #details {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    transform: translatex(-100%);
}

/* right */

.k-fx-tileright.k-fx-start .k-fx-next #details {
    -webkit-transform: translatex(-100%);
    -moz-transform: translatex(-100%);
    transform: translatex(-100%);
}

.k-fx-tileright.k-fx-end .k-fx-current #details {
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    transform: translatex(100%);
}

#wrapper {
    margin: 0 auto 0;
    width: 1000px;
    height: auto;
}

#appheader {
    padding-bottom: 40px;
    border-bottom: 1px solid #535353;
}

#cartheader {
    float: right;
    vertical-align: middle;
}

.headercount {
    color: maroon;
    font-weight: bold;
}

#sect-cart-info {
    display: block;
    background-color: rgb(176, 212, 235);
}

#cart-info {
    clear: both;
    min-height: 140px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
}

#cart-list {
    list-style: none outside none;
    display: inline-block;
    width: 800px;
    text-align: right;
    background-color: rgb(176, 212, 235);
}

.selected-item {
    float: left;
    display: block;
    position: relative;
    width: 100px;
    padding-bottom: 5px;
}

.k-widget {
    border: none;
}

#cart-links {
    position: relative;
    float: right;
    width: 160px;
    right: 0;
    top: 15px;
}

.btncart {
    width: 100px;
    line-height: 25px;
}

#appcontent {
    display: block;
}

#main {
    list-style: none;
    display: block;
    width: 1000px;
    padding-left: 0;
}

.main-image {
    width: 200px;
    height: 200px;
    position: relative;
}

.add-to-cart {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0px;
    height: 37px;
    width: 178px;
    padding-bottom: 3px;
    color: #d60041;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: transparent;
    border-top: 1px solid #a6a6a6;
}

.item {
    float: left;
    display: block;
    position: relative;
    width: 200px;
    height: 315px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}

.qmin {
    width: 200px;
    position: absolute;
    display: block;
    line-height: 2em;
}

#appfooter {
    clear: both;
    width: 980px;
    position: relative;
    border-top: 1px solid #535353;
    padding: 15px 0px 60px 20px;
}

#navigate-prev {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 100px;
    background: #000 url(images/nav-prev.png) no-repeat center;
}

#navigate-next {
    margin-left: 100px;
    position: relative;
    display: inline-block;
    height: 200px;
    width: 100px;
    background: #000 url(images/nav-next.png) no-repeat center;
}

#details {
    height: 200px;
    clear: both;
}

#detail-info {
    width: 692px;
    height: 200px;
    display: inline-block;
}

#description {
    width: 575px;
    display: inline-block;
    position: absolute;
    height: 200px;
    vertical-align: top;
    color: #2e2e2e;
    padding-left: 10px;
}

#details-total {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.buy {
    border: none;
    padding: 2px;
    height: 35px;
    width: 111px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(214, 0, 65);
    background: -moz-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(214, 0, 65, 1)), color-stop(100%, rgba(169, 0, 64, 1)));
    background: -webkit-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -o-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -ms-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: linear-gradient(to bottom, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0);
}

#details-checkout {
    background: #fff;
    text-align: right;
    position: relative;
}

#details-checkout h1 {
    font-size: 36px;
    color: #2e2e2e;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 53px;
    text-align: left;
}

.checkout_btn {
    padding-top: 10px;
    padding-bottom: 10px;
}

#details-checkout table {
    text-align: left;
}

table {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

table tbody tr {
    padding: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table tbody td:first-child {
    font-size: 18px;
    color: #2e2e2e;
    width: 530px;
}

table tbody tr td {
    border-bottom: 1px solid #dadada;
    padding: 0;
}

table tbody td:first-child+td {
    text-align: left;
    width: 70px;
}

table tbody td:first-child+td+td {
    font-size: 18px;
    text-align: right;
    width: 200px;
}

.cart-image-wrapper {
    float: left;
    height: 100px;
    overflow: hidden;
}

#details-checkout img {
    vertical-align: middle;
    padding-right: 40px;
}

table tbody td span.product-name {
    display: inline-block;
    padding-top: 15px;
}

table tbody td p {
    display: inline-block;
    font-size: 12px;
}

#total-checkout {
    font-size: 36px;
    color: #2e2e2e;
    padding-right: 100px;
    padding-top: 27px;
    text-align: right;
    line-height: 1em;
    text-transform: uppercase;
}

.order-now,
.order-now:hover {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}

.order-now:hover {
    color: #fff;
    background: rgb(214, 0, 65);
    background: -moz-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169, 0, 64, 1)), color-stop(100%, rgba(214, 0, 65, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0);
    cursor: pointer;
}

.order-now {
    border: none;
    height: 48px;
    width: 131px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-top: 55px;
    color: #fff;
    font-size: 13px;
    line-height: 48px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    background: rgb(214, 0, 65);
    background: -moz-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(214, 0, 65, 1)), color-stop(100%, rgba(169, 0, 64, 1)));
    background: -webkit-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -o-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -ms-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: linear-gradient(to bottom, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0);
}

#customer_info {
    font-size: 14px;
}

#fieldlist {
    margin: 0;
    padding: 10px;;
}

#fieldlist li {
    list-style: none;
    padding-bottom: .7em;
    text-align: left;
}

#fieldlist label {
    display: block;
    padding-bottom: .3em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #444;
}

#fieldlist textarea {
    height: 100px;
    padding: 10px;
}

#fieldlist li.status {
    text-align: center;
}

#fieldlist li .k-widget:not(.k-tooltip),
#fieldlist li .k-textbox {
    margin: 0 5px 5px 0;
    width: 400px;
}

span.k-widget.k-tooltip-validation {
    display: inline-block;
    width: 200px;
    text-align: left;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    color: red;
}

.k-tooltip-validation .k-warning {
    display: none;
}

#status {
    font-weight:bold;
    color:red;
}
